body {
  background-color:  #333333;
}

.dude {
  font-size: 20px;
  text-align: left;
  color: white;
  /* margin-bottom: 20px; 
  margin-top: 20px; */
  line-break: anywhere;
  text-align: center;
}

.info-card {
  padding-left: 3%;
}

.accordion-button {
  border: none;
}

.accordion-button::after {
  background-image: none !important;
  content: "\27A4";
  color: white;
  rotate: -90deg;
  transform: rotate(360deg);
}

.title {
  padding-bottom: 10px;
  font-family: "Cosmic-Sans";
  size: "6.5";
}

.accordion-button:not(.collapsed) {
  background-color: #380207;
}

.white {
  color: white;
}

.levelcard {
  box-shadow: 0 5px 10px 0 rgb(0 0 0);
  border: 20px solid #333333;
    background-color: #212121;
    border-radius: 20px;
    width: 70%;
}

@media screen and (max-width: 780px) {
  .levelcard {
    width: 100%
  }
}

.play {
  background: #536778;
  border-radius: 5px 5px 5px 5px;
  font-size: 0.5em;
  color: #ffffff;
  height: 3em;
  /* margin: 0px auto; */
  padding: 0;
  position: absolute;
  text-indent: 0.1em;
  transition: all 150ms ease-out;
  width: 4em;
  opacity: 0.8;
  top: 70%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}
.play::after {
  border-style: solid;
  border-width: 1em 0 1em 1.732em;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
  content: " ";
  font-size: 0.75em;
  height: 0;
  margin: -1.6em 0 0 -.8em;
  top: 70%;
  position: absolute;
  width: 0;
}
.play::before {
  background: inherit;
  border-radius: 5% / 50%;
  bottom: 9%;
  content: "";
  left: -5%;
  position: absolute;
  right: -5%;
  top: 9%;
}
.thumb:hover .play {
  background: red;
}
@media screen and (max-width:630px){
  .play{
    font-size: 0.4em;
  }
}
@media screen and (max-width:440px){
  .play {
    font-size: 0.3em;
  }
}

.page-title {
  vertical-align: middle;
  text-align: center;
  color: white;
  padding-top: 150px;
  font-size: 100px;
}



#nav {
  flex-direction: row;
}

.nav-link {
  padding: 11px;
  height: 50px !important;
}

.nav-link:hover {
  color: #655f5f !important;
}

.page-subtitle {
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 50px;
}

.bannerone {
  background-image: url("/mainlistimg.png");
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: contain;
}

#nav {
  display: block;
}

#responsive-navbar-nav {
  background-color: black;
  z-index: 10;
  height: auto;
}
.bannertwo {
  background-image: url("/extendedlistimg.png");
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
}

.bannerthree {
  background-image: url("/legacylistbanner.jpg");
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
}

.active-nav-item {
  background-color: #454545;
}